.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
    color: white;
}


ul {
    display: flex;
    gap: 15px;
    list-style: none;
}


